#Para ignorar archivos temporales ~
*~


#Para ignorar archivos que se crearon en la maquina virtual al compilar
csrc/
log_test
salida
salida.daidir/
ucli.key
verdi_config_file
VerdiLog/
salida.cst/
inter.fsdb
novas_dump.log
novas.conf
novas.rc
salida_broadcast
salida_broadcast.daidir/
salida_completo
salida_completo.daidir/
salida_especifica
salida_especifica.daidir/
salida_genericos
salida_genericos.daidir/
salida_reset
salida_reset.daidir/
salida_todos_uno
salida_todos_uno.daidir/
salida_uno_todos
salida_uno_todos.daidir/

